{% extends "index.twig" %}

{% block content %}


<p>This group was started as a way for home schooling parents in Marquette County to keep in touch with each other. It is meant to encourage and help others in their home schooling journey. We are open to new ideas for activities, field trips, co-op classes, etc. Please feel free to contact Shannon Kemp with any ideas or concerns you might have. We pray that this group will be an added blessing to your home school experience:)</p>
<p>We do ask that if we have an event, field trip, class, etc. that you only bring your home school children. Others will not be allowed as a courtesy to those providing the event for us. Also, it is required that you RSVP for ALL events, even if you are not going. When you let the coordinator know you're not going, this enables them to rule out "possibles", and also know they are not still waiting for replies. Your cooperation is greatly appreciated:)</p>
<p>Also, we would like to keep a high standard of conduct in the group, on here, on our field trips, and any activities, or events. Please make sure your comments and attitudes reflect a positive tone and demeanor, and that your children are watched and controlled during activities. We want everyone to have the best experience possible.</p>
<p>Last, if you see a newcomer, make sure to make them feel welcome. We do not want this group to become cliquish or separated. WE all remember how it was when we first started and had no clue what we were doing, and sometimes had no one to turn to. Let's make sure people feel welcome!</p>
<p>We also have a blog, to help keep up on events and activities: http://marquettechums.blogspot.com/?mid=5093</p>

    For MACHE Co-op information please contact Laura Shambaugh or Jacquie Nelson. The MACHE group can be located at: https://www.facebook.com/groups/1709472549338237/

    To post or find non-homeschool events, please contact Erika Swanson at HEARTH. This is a resource for both the CHUMs and MACHE groups. The page for non-home school resources is:

    https://www.facebook.com/groups/229406110745105/

    Also, you are more than welcome to post curricula for sale on here at any time! Also, another great site to post it on, managed by one of our local home school mom's, Stephanie Rohder, is Upper Peninsula Homeschool Resale.

    https://www.facebook.com/groups/1038679826183547/

    Check it out!

    Thanks,

    Shannon Kemp :)

    P.S. if you could add your family to the document "Homeschooling Families Names and Ages", it would be a great help. Just click on the document, then click on "edit". Put the parents names, how many boys and/or girls you have, and their age ranges (birth month and year so it doesn't have to be edited), then what curriculum you use. Then, please put some sort of line to separate yours from the next one. This will help us all get to know each other a little better, and help when we're doing things like field trips and activities:)


{% endblock content %}
