<html>
<head>
    <link type="text/css" rel="stylesheet" href="../config/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="../config/style.css"/>
    <script src="../config/jquery.min.js"></script>
</head>
<body>

<div class="navbar">
    <a href="/">MQTCHUMS</a>
    <span class="navbar-tab-links navbar-right clearfix">
        <a class="tablink navbar-left btn btn-default" href="/calendar">Calendar</a>
        <a class="tablink navbar-left btn btn-default" href="/bulletin">Bulletin</a>
        <a class="tablink navbar-left btn btn-default" href="/about">About</a>
    </span>
</div>

{% block content %}
{% endblock content %}
</body>
</html>