<html>
<head>
    <link type="text/css" rel="stylesheet" href="../config/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="../config/style.css"/>
    <script src="../config/jquery.min.js"></script>
</head>
<body>
{% block content %}
{% endblock content %}
</body>
</html>