<phpunit bootstrap="bootstrap.php">
    <testsuites>
        <testsuite name="PhpUnit Test inner Suite">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>
</phpunit>